{% load static %}

<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-4">
					<h6 class="by">
						Created By James Gibbs
					</h6>
				</div>
				<div class="col-4">
					<h2 class="icons">
						<a href="https://www.facebook.com/james.gibbs.142" target="_blank">
							<i class="fab fa-facebook"></i> </a> <a href="https://www.instagram.com/jamesigibbs180/"
							target="_blank"> <i class="fab fa-instagram"></i>
						</a> <a href="https://www.linkedin.com/in/james-gibbs-ba684413b/" target="_blank">
							<i class="fab fa-linkedin"></i> </a>
					</h2>
				</div>
				<div class="col-4 tel">
					<a href="mailto:jamesigibbs180@gmail.com">Email me</a>
					<a href="tel:07871188025">Or call</a>
				</div>
			</div>
		</div>
</footer>