{% load static %}

<header class="header">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light bg-light" style="justify-content: flex-end;">
				<button class="navbar-toggler" id="name-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: flex-end;">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'projects' %}">Projects</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" href="experience.html">Experience</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contact.html">Contact me</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="assets/pdf/CV4.pdf" target="_blank">Download CV</a>
						</li>
					</ul>
				</div>
			</nav>
			<div class="row">
				<div class="col-lg-10" id="heading">
					<h1 class="heading" id="name">James Gibbs</h1>
					<h2 class="heading" id="title">Junior Full Stack Developer</h2>
				</div>
			</div>
		</div>
	</header>