{% extends "base.html" %}
{% load static %}

{% block content %}

    <section>
		<div class="container center">
			<div class="row">
				<div class="col-12">
					<h1 class="wte">What to expect</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="row">
						<div class="col-12">
							<div class="circle">
								<h1 class="icon"><i class="fas fa-tachometer-alt"></i></h1>
								<h3 class="circle-label">Fast</h3>

							</div>
							<p class="circle-p">My websites will be fast to load and navigate around with absolutely no
								lag</p>
						</div>
						<div class="col-12">
							<div class="circle">
								<h1 class="icon"><i class="fas fa-bolt"></i></h1>
								<h3 class="circle-label">Dynamic</h3>
							</div>
							<p class="circle-p">The website will be fun and interesting to look at and display
								information in an eye popping and catchy form </p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 d-none d-lg-block avatar">
					<img src="{% static '/media/avatar-home.png' %}"  alt="Avatar" class="avatar-img">
				</div>
					<div class="col-lg-4 col-md-6 col-12" id="responsive">
						<div class="row">
							<div class="col-12">
								<div class="col-12">
									<div class="circle">
										<h1 class="icon"><i class="fas fa-brain"></i></h1>
										<h3 class="circle-label">Intuitive</h3>
									</div>
									<p class="circle-p">I aim to make all my websites easy to use and navigate around
									</p>
								</div>
								<div class="circle">
									<h1 class="icon"><i class="fas fa-mobile-alt"></i></h1>
									<h3 class="circle-label">Responsive</h3>
								</div>
								<p class="circle-p">No matter what device you own, both big and small the website will
									be easy
									to navigate around as well as being aesthetically pleasing</p>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
	<!--About Me-->
	<section>
		<div class="container-fluid about">
			<div class="row">
				<div class="col-12 col-lg-1"></div>
				<div class="col-12 col-lg-7">
					<h1 class="about-t">About Me</h1>
					<p class="about-c">I am a junior full stack developer on the Code Institute Full Stack Developer
						course. My aim is to be able to create practical web application using a combination of
						JavaScript, Python and other languages. In my free time I like to participate in outdoor and
						action sports. My favourite activities are mountain biking, skiing and climbing, I have been
						participating in these for many years. My goal is that I would like to combine my passion for
						software development with my instructing career, to allow me travel around the world
						participating and teaching these sport’s whilst also creating great web applications along the
						way.</p>
				</div>
				<div class="col-lg-4 col-12 profile">
					<img  class="profile-p" src="{% static '/media/profile.png' %}" alt="Profile Picture">
                </div>
				</div>
			</div>
	</section>

{% endblock%}
